@charset "UTF-8";
/*single page*/
.article-title { margin: 110px auto 40px auto; width: 100%; text-align: center; }

.article-title h1 { color: #5E646C; letter-spacing: 2px; font-family: Noto Sans CJK JP, 'yu gothic','ヒラギノ角ゴシック'; font-weight: 500; font-size: 30px; text-align: left; line-height: 45px; letter-spacing: 2px; }

.article-title .date { font-size: 13px; color: #717171; text-align: left; margin-top: 30px; font-family: Noto Sans CJK JP, 'yu gothic','ヒラギノ角ゴシック'; letter-spacing: 0; font-weight: 500; }

.title-border { text-align: center; margin: 0 auto 15px auto; }

h2 { text-align: center; }

.flexbox { display: flex; }

.content { width: 664px; margin: 0 auto; }

.cat p { font-size: 23px; }

.caption { color: #717171; }

section { margin: 100px auto; }

section .inner { width: 100%; }

.content { width: 863px; margin: 0 auto 120px; }

.content .inner { padding: 0; }

.content .inner a { font-size: 13px; }

.title { width: 100%; margin: 70px auto 0; }

.title h1 { font-size: 30px; line-height: 45px; letter-spacing: 0; }

.title .date { font-family: 'yu gothic','ヒラギノ角ゴシック'; font-weight: 500; color: #717171; font-size: 10px; margin-top: 50px; margin-bottom: 50px; }

.mv { width: 100%; margin: 0px auto 80px; margin-right: 0; text-align: center; }

.mv img { width: 100%; height: auto; }

.mv p { text-align: left; line-height: 30px; letter-spacing: 0; }

.mv .caption { font-family: yu gothic,'ヒラギノ角ゴシック'; font-size: 14px; line-height: 22px; margin: 50px auto; }

article { width: 100%; margin-left: auto; margin-right: 0; }

article .image { margin-bottom: 30px; }

article .image img { width: auto; max-width: 100%; }

article p { font-family: Noto Sans CJK JP, 'yu gothic','ヒラギノ角ゴシック'; color: #5E646C; font-size: 18px; line-height: 30px; letter-spacing: 0; word-break: break-all; font-weight: 300; }

article p img { margin: 80px auto; }

.pagenation { margin-top: 140px; font-family: Noto Sans CJK JP, 'yu gothic','ヒラギノ角ゴシック'; }

.pagenation .inner { justify-content: space-between; width: 100%; margin-left: auto; margin-right: 0; font-size: 13px; }

.pagenation .inner .flexbox { width: auto; margin: 0; }

.pagenation .inner a { color: #717171; }

.pagenation .inner .back a { text-decoration: underline; }

.pagenation .inner .back a:hover { text-decoration: none; }

.pagenation .prev { margin-right: 20px; }

@media (max-width: 1100px) { section { margin: 50px auto; width: 100%; }
  section .inner { width: 90%; margin: 0 auto; }
  section .inner img { width: 100%; height: auto; }
  .content { width: 100%; margin: 0 auto; padding: 0; }
  article { width: 90%; margin: 0 auto; }
  article p { font-size: 14px; }
  .mv { margin: 50px auto; width: 90%; }
  .mv img { width: 100%; }
  .mv .inner { width: 100%; }
  .article-title { margin: 50px auto 30px; width: 90%; }
  .article-title h1 { font-size: 18px; line-height: 24px; }
  .article-title .inner { width: 100%; }
  .title h1 { font-size: 23px; line-height: 34px; }
  .cat { width: 100%; padding: 0 5%; margin: 100px auto 50px; box-sizing: border-box; }
  .cat .inner { width: 100%; }
  .text .inner { width: 90%; margin: 0 auto; }
  .text p { font-size: 14px; width: 100%; word-break: break-all; }
  .pagenation .inner { margin: 0 auto; width: 90%; display: block; }
  .pagenation .inner .flexbox { justify-content: space-between; }
  .pagenation .back { width: 100%; margin: 35px auto 35px; text-align: right; }
  .pagenation .back a { text-decoration: underline; } }
